@page
@model HotelManagementSystem.Pages.Rooms.IndexModel

<h1>Rooms</h1>

<a href="/Rooms/Create">Add Room</a>

<table>

    <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var room in Model.Rooms)
        {
            <tr>
                <td>@room.RoomNumber</td>
                <td>@room.RoomType?.Name</td>
                <td>@room.Price</td>
                <td>
                    @if (@room.Status == "Available")
                    {
                        <span style="color:green;font-weight:bold">Available</span>
                    }
                    else if (@room.Status == "Occupied")
                    {
                        <span style="color:red;font-weight:bold">Occupied</span>
                    }
                    else
                    {
                        <span style="color:orange;font-weight:bold">Maintenance</span>
                    }
                </td>

                <td>
                    <a href="/Rooms/Edit?id=@room.Id">Edit</a>
                    <a href="/Rooms/Delete?id=@room.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>